@import "tailwindcss";

@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes bounce-slow {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* animation  */

.animation{
    animation: animated ease;
    animation-timeline: view() ;
    animation-range: entry 0% cover 30%;
}
@keyframes animated{
    from {
        opacity: 0;
        scale: 0;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}

/* active */

.active{
  color: white ;
  background-color: #000524;
}

 /* scrollbar */
html {
  scrollbar-color:#facc15  #000524  ;
  scroll-behavior: smooth;
}

/*   */

 .text-over-flow{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    transform: scale();
}


@media (max-width:868px) {
  .text-info {
    text-align: center;
    margin-top: 25px;
    list-style: none;
  }
}